@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/theme.less";

@flinders-light-yellow: #ffe6a8;
@flinders-dark-yellow: #ffe063;

@header-height: 150px;

@text-color: #333;

.flinders-background {
  background: @flinders-dark-yellow;
  background: linear-gradient(to bottom, @flinders-dark-yellow 0%,@flinders-light-yellow 100%);
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: @header-height;
  .flinders-background;
  color: @text-color;
}

h1 {
  font-family: serif !important;
  font-size: 4em;
  font-weight: normal;
}

.entity ul.children {
  list-style: none;
}

.slides {
  position: static;
  width: 100%;
  height: 100%;
}

.slides .slide {
  position: absolute;
  top: 0;
  transition: all .8s ease-in-out;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.slides .slide.outgoing {
}

.slides .slide.inactive {
  opacity: 0;
}

.slides .slide.active {
  opacity: 1;
}

.slides .slide a {
  color: @text-color;
}

.entity {
  margin: 2px;
  padding: 1em;
}

.news {
  overflow: hidden;
  height: 50%;

}

.news .content .figure {
  float: left;
  margin: 0.2em 1em 0.2em 0.2em;
  width: 200px;
}
.news .content .figure .caption {
  font-size: 0.8em;
}

.news.entity {
  margin: 0;
  padding: 0;
}


header#flinders-sticky {
  color: #111;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-family: "Serif";
  font-weight: normal;
  .flinders-background;
}

header#flinders-sticky > div {
  padding: 10px;
}

header#flinders-sticky h1 {
  display: inline-block;
  line-height: @header-height;
  margin: 0 0 0 30px;
  padding: 0;
  color: @text-color;
}

header#flinders-sticky h1 small {
  color: fade(@text-color, 75%);
}

header#flinders-sticky img.logo {
  height: @header-height;
  display: inline;
  vertical-align: top;
}
