.entity ul.children {
    list-style: none;
}

.slides {
    position: static;
}

.slides .slide {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
}
.slides .slide.active {
    opacity: 1;
}

.news .content img {
    float: left;
    margin: 0.2em 1em 0.2em 0.2em;
    border: 1px solid #999;
}

.news .content p:first-of-type {
    display: none;
}

.entity {
    margin: 2px;
    padding: 1em;
}