<div class="entity building">
    <h1>{{ building.name }}</h1>
    <h2>Current Classes and Events</h2>
    <table class="rooms children">
        <tr>
            <th>Room</th>
            <th>Room Description</th>
            <th>Next Free</th>
        </tr>
        <tr ng-repeat="room in booked_rooms">
            <td>{{ room.full_code }}</td>
            <td>{{ room.description }}</td>
            <td>{{ room.current_booking.ends_at | time_until }}</td>
        </tr>
    </table>

    <h2>Empty Rooms</h2>
    <table class="rooms children">
        <tr>
            <th>Room</th>
            <th>Room Description</th>
            <th>Next class</th>
        </tr>
        <tr ng-repeat="room in empty_rooms">
            <td>{{ room.full_code }}</td>
            <td>{{ room.description }}</td>
            <td>{{ room.next_booking.starts_at | time_until }}</td>
        </tr>
    </table>
</div>