<div class="building-times row-fluid">
    <div class="col-md-6">
        <h1>Current Classes and Events</h1>
        <table class="rooms children room-bookings table table-striped">
            <tr>
                <th>Room</th>
                <th>Room Description</th>
                <th>Next Free</th>
            </tr>
            <tr ng-repeat="room in booked_rooms">
                <td class="room-full-code">{{ room.full_code }}</td>
                <td class="room-full-code">{{ room.description }}</td>
                <td class="room-full-code">{{ room.current_booking.ends_at | time_until }}</td>
            </tr>
        </table>

        <h1>Free Rooms</h1>
        <table class="rooms children room-bookings table table-striped">
            <tr>
                <th>Room</th>
                <th>Room Description</th>
                <th>Next class</th>
            </tr>
            <tr ng-repeat="room in empty_rooms">
                <td class="room-full-code">{{ room.full_code }}</td>
                <td class="room-full-code">{{ room.description }}</td>
                <td class="room-full-code">{{ room.next_booking.starts_at | time_until }}</td>
            </tr>
        </table>
    </div>
</div>